@font-face {
    src: url("../font/BMDOHYEON.ttf");
    font-family: "BMDOHYEON";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/Chalkboard-Regular.ttf");
    font-family: "Chalkboard";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../font/DalseoDarling.ttf");
    font-family: "DalseoDarling";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../font/PyeongChangPeace-Bold.ttf");
    font-family: "PyeongChangPeace-Bold";
    font-style: normal;
    font-display: swap;
}