@use '../utils' as u;

.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.grid {
    display: grid;
    align-items: center;
}

.sec-title {
    font-size: u.rem(75);
    color: var(--textTitleColor);
    text-shadow: var(--textTitlehadow);
    font-family: 'PyeongChangPeace-Bold';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--textTitleBorder);
    text-transform: uppercase;

    &.withLight {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before , &::after {
            height: 50px;
            width: 50px;
            background: white;
            content: '';
            position: absolute;
            border-radius: 100%;

            box-shadow: var(--textColorWhite) 0px -15px 50px 5px;

            @media(max-width: u.rem(550)) {
                height: u.rem(25);
                width: u.rem(25);
                box-shadow: var(--textColorWhite) 0px -5px 30px 5px;
            }
        }
        &::before {
            left: u.rem(-90);
            @media(max-width: u.rem(550)) {
                left: u.rem(-50);
            }
        }
        &::after {
            right:   u.rem(-90);

            @media(max-width: u.rem(550)) {
                right: u.rem(-50);
            }
        }
    }

    &.special {
        position: absolute;
        font-size: u.rem(100);
        z-index: 2;
        
        top: u.rem(220);
        margin-left: u.rem(-760);

        @media(max-width: u.rem(1300)) {
            font-size: u.rem(75);
            margin-left: u.rem(-600);
        }

        @media(max-width: u.rem(1050)) {
            font-size: u.rem(85);
            margin-left: u.rem(-580);
            top: u.rem(190);
        }

        @media(max-width: u.rem(800)) {
            all: unset;

            font-size: u.rem(70);
            color: var(--textTitleColor);
            text-shadow: var(--textTitlehadow);
            font-family: 'PyeongChangPeace-Bold';
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--textTitleBorder);
            text-transform: uppercase;

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before , &::after {
                height: 50px;
                width: 50px;
                background: white;
                content: '';
                position: absolute;
                border-radius: 100%;

                box-shadow: var(--textColorWhite) 0px -15px 50px 5px; @media(max-width: u.rem(550)) {
                    height: u.rem(30);
                    width: u.rem(30);
                    box-shadow: var(--textColorWhite) 0px -5px 30px 5px;
                }
            }
            &::before {
                left: u.rem(-100);
                @media(max-width: u.rem(550)) {
                    left: u.rem(-75);
                }
            }
            &::after {
                right:   u.rem(-100);
    
                @media(max-width: u.rem(550)) {
                    right: u.rem(-75);
                }
            }
            @media(max-width: u.rem(669)) {
                font-size: u.rem(60);
            }
            @media(max-width: u.rem(550)) {
                font-size: u.rem(50);
            }

        }
        @media(max-width: u.rem(500)) {
            font-size: u.rem(35);
        }
    } 

    @media(max-width: u.rem(1300)) {
        font-size: u.rem(65);
    }

    @media(max-width: u.rem(669)) {
        font-size: u.rem(60);
    }

    @media(max-width: u.rem(550)) {
        font-size: u.rem(50);
    }
    @media(max-width: u.rem(500)) {
        font-size: u.rem(35);
    }

}   


.wrapper-cont {
    max-width: 1600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    //border: 1px solid red;
}
.wrapper-cont-fluid {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    //border: 1px solid red;
}