@use '../utils' as u;

#Home {
    background-image: url('../image/background/mainBg.jpg');
    background-position: top;
    background-size: cover;

    h1 {
        font-size: u.rem(60);
        color: var(--textColor);
    }

    main {

        @media(max-width: u.rem(500)) {
            
        overflow: hidden;
        }
        section {
            
            
            article {

                &:not(.buy) {
                    scroll-margin-top: u.rem(100);
                }
                text-align: center;
                justify-content: center;
                position: relative;
                margin-top: u.rem(200);

                padding: 0 u.rem(15);

                &.prolog {
                    padding: u.rem(50) u.rem(20);
                    min-height: 100vh;
                    p {
                        font-size: u.rem(60);
                        width: 100%;
                        max-width: u.rem(1200);
                        margin: 0 auto;
                        margin-top: u.rem(80);
                        color: var(--textColor);
                        font-family: 'Chalkboard';
                        line-height: u.rem(100);

                        @media(max-width: u.rem(1300)) {
                            font-size: u.rem(50);
                            width: 80%;
                            line-height: u.rem(70);
                        }

                        @media(max-width: u.rem(669)) {
                            font-size: u.rem(50);
                            width: 100%;
                            line-height: u.rem(70);
                        }
                    }
                    picture {
                        mix-blend-mode: overlay;
                    }

                    picture.mic {
                        position: absolute;
                        left: u.rem(-10);
                        top: 0;
                        z-index: -1;

                        img {
                            height: u.rem(600);
                            width: u.rem(600);

                            @media(max-width: u.rem(1300)) {
                                height: u.rem(400);
                                width: u.rem(400);
                            }
                        }

                        @media(max-width: u.rem(1300)) {
                            left: u.rem(-50);
                            top: u.rem(150);
                        }
                        @media(max-width: u.rem(1050)) {
                            left: u.rem(-150);
                            top: u.rem(65);
                        }

                        @media(max-width: u.rem(800)) {
                            top: u.rem(125);
                        }
                        
                    }

                    picture.makeup {
                        margin-top: u.rem(100);
                        @media(max-width: u.rem(1300)) {
                            margin-top: u.rem(75);
                        }
                        img {
                            @media(max-width: u.rem(1300)) {
                                height: u.rem(350);
                                width: u.rem(350);
                            }
                            @media(max-width: u.rem(1050)) {
                                height: u.rem(280);
                                width: u.rem(280);
                            }
                        }
                    }

                }
                &.story {
                    //padding-top: u.rem(500);
                    margin-top: u.rem(0);
                    @media(max-width: u.rem(800)) {
                        margin-top: u.rem(70);
                    }
                    .description {
                        
                        //margin-top: u.rem(100);

                        p {
                            color: var(--textColor);
                            font-family: 'Chalkboard';
                            font-size: u.rem(43);
                            line-height: u.rem(60);
                            margin: 0 auto;
                            width: 100%;

                            @media(max-width: u.rem(1300)) {
                                font-size: u.rem(34);
                            }

                            &.text-1 {
                                max-width: u.rem(1300);
                            }
                            &.text-2 {
                                max-width: u.rem(1100);
                            }
                            &.text-3 {
                                max-width: u.rem(1550);
                            }
                            &.text-4 {
                                max-width: u.rem(1700);
                            }
                            &.text-5 {
                                max-width: u.rem(1350);
                            }
                            &.text-6 {
                                margin-top: u.rem(75);
                                max-width: u.rem(1300);
                            }
                            &.text-7 {
                                max-width: u.rem(1000);
                            }
                            &.text-8 {
                                max-width: u.rem(1300);
                            }
                        }
                    }
                    
                    picture.mic {
                        margin-top: u.rem(100);
                        mix-blend-mode: overlay;

                        img {
                            @media(max-width: u.rem(1300)) {
                                width: u.rem(400);
                                height: u.rem(400);
                                object-fit: contain;
                            }
                        }
                    }

                    .mirror-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: u.rem(1000);
                        width: 100%;

                        @media(max-width: u.rem(1300)) {
                            height: u.rem(800);
                        }
                        @media(max-width: u.rem(669)) {
                            height: u.rem(650);
                        }
                        picture {

                            display: block;
                            position: absolute;
                            top: 0;

                            &.girl {
                                z-index: 1;
                                top: u.rem(150);
                                margin-left:  u.rem(-350);

                                img {
                                    width: u.rem(550);

                                    @media(max-width: u.rem(1300)) {
                                        width: u.rem(450);
                                    }

                                    @media(max-width: u.rem(1050)) {
                                        width: u.rem(400);
                                    }

                                    @media(max-width: u.rem(669)) {
                                        width: u.rem(300);
                                    }
                                    @media(max-width: u.rem(525)) {
                                        width: u.rem(275);
                                    }
                                }

                                @media(max-width: u.rem(1300)) {
                                    margin-left:  u.rem(-300);
                                }

                                @media(max-width: u.rem(800)) {
                                    top: u.rem(225);
                                    margin-left:  u.rem(-250);
                                }
                                @media(max-width: u.rem(525)) {
                                    top: u.rem(225);
                                    margin-left:  u.rem(-275);
                                }
                            }
                            &.mirror { 
                                z-index: 0;
                                margin-right:  u.rem(-400);

                                img {
                                    width: u.rem(600);
                                    @media(max-width: u.rem(1300)) {
                                        width: u.rem(500);
                                    }

                                    @media(max-width: u.rem(1050)) {
                                        width: u.rem(450);
                                    }
                                    @media(max-width: u.rem(669)) {
                                        width: u.rem(350);
                                    }
                                    @media(max-width: u.rem(525)) {
                                        width: u.rem(325);
                                    }
                                }
                                @media(max-width: u.rem(1399)) {
                                    margin-right:  u.rem(-300);
                                }
                                
                                @media(max-width: u.rem(1050)) {
                                    margin-right:  u.rem(-270);
                                }
                                @media(max-width: u.rem(800)) {
                                    margin-top: u.rem(100);
                                    margin-right:  u.rem(-250);
                                }

                                @media(max-width: u.rem(669)) {
                                    margin-right:  u.rem(-200);
                                }

                                @media(max-width: u.rem(525)) {
                                    margin-right:  u.rem(-175);
                                }
                            
                                lottie-player {
                                    width: 470px !important;
                                    height: 725px !important;
                                    z-index: -1;
                                    position: absolute;
                                    top: 125px;
                                    right: 80px;
                                    clip-path: polygon(0 11%, 100% 0, 100% 100%, 1% 91%);
                                    background-color: red;

                                    @media(max-width: u.rem(1300)) {
                                        width: u.rem(395) !important;
                                        height: u.rem(610) !important;
                                        top: u.rem(100); 
                                        right: u.rem(65);
                                    }

                                    @media(max-width: u.rem(1050)) {
                                        width: u.rem(345) !important;
                                        height: u.rem(550) !important;
                                        top: u.rem(90); 
                                        right: u.rem(65);
                                    }

                                    @media(max-width: u.rem(669)) {
                                        width: u.rem(275) !important;
                                        height: u.rem(425) !important;
                                        top: u.rem(70); 
                                        right: u.rem(45);
                                    }
                                    @media(max-width: u.rem(525)) {
                                        width: u.rem(255) !important;
                                        height: u.rem(395) !important;
                                        top: u.rem(65); 
                                    }
                                }
                            }
    
                        }
                    }
                }

                &.roadmap {
                    .roadmap-cont {
                        &.web {

                            display: grid;

                            @media(max-width: u.rem(800)) {
                                display: none;
                            }

                        }
                        &.mobile {

                            display: none;

                            @media(max-width: u.rem(800)) {
                                display: grid;
                                grid-template-columns: 1fr;
                                row-gap: u.rem(20);
                            }

                            .flex-cont .inside-cont h3 {
                                font-size: u.rem(75);
                            }
                            .flex-cont .inside-cont p {
                                font-size: u.rem(40);
                            }

                        }
                        margin-top: u.rem(100);
                        gap: 3rem;
                        align-items: start;
                        justify-content: center;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;

                        transition: .2s ease;

                        @media(max-width: u.rem(1300)) {
                            grid-template-columns: 35% 30% 35%;
                        }
                        @media(max-width: u.rem(1050)) {
                            grid-template-columns: repeat(3, 33.33%);
                        }


                        .flex-cont {
                            flex-basis: calc(33.33% - 2.5rem);
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .inside-cont {
                                min-height: u.rem(300);
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                position: relative;

                                

                                @media(max-width: u.rem(1050)) {
                                    min-height: u.rem(200);
                                }

                                h3 {
                                    color: var(--textTitleColor);
                                    font-family: 'PyeongChangPeace-Bold';
                                    font-size: u.rem(60);
                                    margin-bottom: u.rem(20);
                                    transition: .2s ease;

                                    @media(max-width: u.rem(1300)) {
                                        font-size: u.rem(40);
                                    }
                                }
                                p {
                                    font-family: 'Chalkboard';
                                    font-size: u.rem(40); 
                                    color: var(--textColorSecondary);
                                    text-transform: uppercase;
                                    transition: .2s ease;

                                    @media(max-width: u.rem(1050)) {
                                        font-size: u.rem(30);
                                    }
                                }

                                .hover-content {
                                    position: absolute;
                                    background-color: hsla(322, 87%, 50%, 0.74);
                                    z-index: 1;
                                    border-radius: u.rem(16);
                                    display: none;
                                    
                                    span {
                                        font-size: u.rem(32);
                                        font-family: 'Chalkboard';
                                        color: var(--textColor);
                                        padding: u.rem(20);
                                        line-height: u.rem(50);

                                        @media(max-width: u.rem(1300)) {
                                            font-size: u.rem(26);
                                            line-height: u.rem(40);
                                        }
                                    }
                                }

                                

                                &:hover {
                                    h3 {
                                        font-size: u.rem(100);
                                        color: var(--textTitleHover);
                                        @media(max-width: u.rem(1300)) {
                                            font-size: u.rem(70);
                                        }
                                    }

                                    p {
                                        font-size: u.rem(50); 
                                        

                                        @media(max-width: u.rem(1300)) {
                                            font-size: u.rem(30);
                                        }
                                    }

                                    .hover-content {
                                        display: block;
                                        padding: 20px;

                                        &.hover-1 {
                                            top: u.rem(240);

                                            @media(max-width: u.rem(1300)) {
                                                top: u.rem(220);
                                            }

                                            @media(max-width: u.rem(1050)) {
                                                top: u.rem(180);
                                            }
                                        }
                                        &.hover-2 {
                                            top: u.rem(250);

                                            @media(max-width: u.rem(1300)) {
                                                top: u.rem(230);
                                            }

                                            @media(max-width: u.rem(1050)) {
                                                top: u.rem(180);
                                            }
                                        }
                                        &.hover-3 {
                                            top: u.rem(380);

                                            @media(max-width: u.rem(1300)) {
                                                top: u.rem(280);
                                            }

                                            @media(max-width: u.rem(1050)) {
                                                top: u.rem(220);
                                            }
                                        }
                                        &.hover-4 {
                                            top: u.rem(240);

                                            @media(max-width: u.rem(1300)) {
                                                top: u.rem(220);
                                            }
                                            @media(max-width: u.rem(1050)) {
                                                top: u.rem(180);
                                            }
                                        }
                                        &.hover-5 {
                                            top: u.rem(240);
                                            min-width: 1300px;
                                            width: 100%;

                                            @media(max-width: u.rem(1050)) {
                                                top: u.rem(180);
                                                min-width: unset;
                                            }
                                        }
                                        @media(max-width: u.rem(800)) {
                                            min-width: unset;
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            picture {
                                img {
                                    transition: .2s ease;
                                    
                                    @media(max-width: u.rem(1300)) {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                img[class*='pic1-'] {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.buy {
                    
                    min-height: 100vh;
                    background-image: url('../image/article/buy/background.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @media(max-width: u.rem(1300)) {
                        margin-top: u.rem(50);
                    }

                    .buy-cont {
                        align-items: center;
                        justify-content: center;

                        h3 {
                            font-size: u.rem(100);
                            font-family: 'Chalkboard';
                            color: white;
                            
                            margin-bottom: 80px;

                            @media(max-width: u.rem(1050)) {
                                font-size: u.rem(75);
                            }

                            @media(max-width: u.rem(800)) {
                                font-size: u.rem(65);
                            }

                            @media(max-width: u.rem(669)) {
                                font-size: u.rem(50);
                            }

                            @media(max-width: u.rem(600)) {
                                font-size: u.rem(45);
                            }
                        }
                        .test {

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100px;
                            
                            a {
                                font-size: u.rem(80);
                                font-family: 'PyeongChangPeace-Bold';
                                text-decoration: none;
                                border: 5px solid black;
                                color: var(--textColorHover);
                                border-radius: u.rem(100);
                                background-color: var(--textColor);
                                padding: u.rem(30) u.rem(60);
                                box-shadow: #000 -10px 10px 0px;
                                display: block;
                                margin-top: 10px;
                                margin-right: 10px;
                                transition: .3s ease;

                                @media(max-width: u.rem(669)) {
                                    font-size: u.rem(55);
                                }
                                @media(max-width: u.rem(575)) {
                                    font-size: u.rem(50);
                                }

                                @media(max-width: u.rem(500)) {
                                    font-size: u.rem(40);
                                    padding: u.rem(20) u.rem(40);
                                }
                                
                                &:hover {
                                    //box-shadow: #000 -20px 20px 0px;
                                    
                                    margin-top: 0px;
                                    margin-right: 0px;
                                    box-shadow: #000 -20px 20px 0px;
                                    background-color: var(--textTitleColor);
                                    

                                    & ~ h3 {
                                        margin-top: -20px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.showcase {
                    .showcase-carousel {
                        border-bottom: 2px solid white;
                    }
                    padding: 0;
                }
            }
        }
    }
} 

